* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: monospace;
  padding-bottom: 200%;
}
.header {
  padding: 20px;
  text-align: center;
}
.column {
  float: left;
}
.column.side {
  width: 20%;
  min-width: 200px;
  padding-left: 5%;
}
.column.side ol {
  padding-left: 5%;
}
.column.side li {
  list-style-type: upper-alpha;
}
em {
  color: crimson;
}
.column.middle {
  width: 60%;
  padding-left: 3%;
  padding-right: 3%;
}
.column.middle p {
  text-align: justify;
  text-indent: 8%;
}
/* Clear floats after the columns (?) */

.row:after {
  content: "";
  display: table;
  clear: both;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.grouptitle {
  padding-top: 10px;
  text-decoration: underline;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}
ol.groups {
  padding-left: 7%;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: upper-alpha;
  text-align: left;
}
ol.links {
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 25px;
}
@media screen and (max-width: 650px) {
  .column.side, .column.middle {
    width: 100%;
  }
  body {
    font-size: 11px;
  }
  .column {
    min-width: 100px;
  }
  .column.middle p {
    text-indent: 20px;
  }
}